<h1>Editing Article</h1>

<% if current_user && current_user.admin %>
  <h3>Admin Only</h3>
  <%= render 'form', article: @article %>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
